@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --mainHeight: calc(100vh);
  --mainWidth: 100vw;
  --HeaderHeigth: 60px;
  --FooterHeigth: 15px;
  --paddingIPhone: 85px;

  --darkBrown: rgba(86,63,57);
  --lightBrown: #eeebeb;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-roboto: 'Roboto', sans-serif;
}

*, *:after, *:before {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
	margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: bold;
  box-sizing: border-box;
  font-family: var(--font-roboto);
	font-size: 16px;
  vertical-align: middle;
  color: var(--lightBrown);
  /* text-shadow: 1px 1px 5px white; */
}

html,
body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: monospace;
}

a {
	text-decoration: none;
}

p, label, option {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: none;
}

label {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input, select {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  appearance: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
	list-style:none;
}

img {
	max-width: 100%;
}

h1 {
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('../assets/wood/bg-1.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  height: var(--mainHeight);
  width: var(--mainWidth);
  overflow: hidden;
  z-index: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--HeaderHeigth) 0px var(--FooterHeigth) 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: calc(var(--HeaderHeigth) + var(--FooterHeigth) + var(--paddingIPhone));
}

.envelope {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
  text-align: center;
  margin: 20px;
  background: url('../assets/papel.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--darkBrown);
}

.wrapper p {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.animeLeft {
  opacity: 0;
  transform: translateX(calc(-100vw * 0.2));
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{
      opacity: 1;
      transform: initial;
  }
}

@media (min-width: 40rem) {
  .container::-webkit-scrollbar {
      background: transparent;
      width: 10px;
  }

  .container::-webkit-scrollbar-track {
      background: rgba(127,105,91,0.2);
      border-radius: 10px;
      padding: 5px;
  }

  .container::-webkit-scrollbar-thumb {
      background-color: rgba(127,105,91,0.4);
      border-radius: 10px;
  }
}

@media (max-width: 21rem), (max-height: 21rem) {
  p, label, input, select, option, span, b {font-size: 0.75rem;}
  h1, h2, h3, h4 {font-size: 1rem;}
}